body {
background-color: rgb(248, 248, 248);
    font-family: 'Prompt', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #463275;
}
h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #ffffff;
    text-decoration: none; /* No underlining */
  }
  a:hover,
  a:focus {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over a link */
  }
  
  .button.contact {
    background-color: transparent;
    color: #ff7f50;
    text-transform: uppercase;
    border: 2px solid #ff7f50;
  }
  .button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
#hero {
    background-color: rgb(251, 251, 251);
    color: black;
    padding: 40px;
    text-align: center;
  }
  #footer {
    background-color: rgb(251, 251, 251);
    color: black;
    padding: 40px;
    text-align: center;
  }
  header {
    background-color: #ff8c44;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    border-bottom: 3px solid #4a4a4a;
    /*start ------------*/
	width: [object Object]px; 
	height: [object Object]px; 
	background: #F8F8F8; 
	border: solid #BDBDBD 1px; 
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
  }
  selector {
    margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
  }
  selector {
    width: 80%;
  }
 
  #work .row {
    padding-bottom: 25px; border-bottom: 1px solid #4a4a4a;
  } 
  #hero h1 {
    text-align: center; /* Centers text */
  }
  #hero {
    background-color: #f5f3f2;
    padding: 20px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
  }
 
* {
  box-sizing: border-box;
}
/* Layout styling */
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}


.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}


nav > ul > li > a:visited {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
nav > ul > li > a:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
nav > ul > li > a:active {
  color: #ff7f50;
  text-transform: uppercase;
}
.logo {
  width: 20%;
}
.social {
  width: 20%;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
}
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

main {
  padding-top: 99px;
}
.container {
  max-width: 1200px;
  padding: 0 15;
}

.bridge {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}



.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}



.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}






/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    font-size:16px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
    width: 50%;
  }





}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

.col-lg-7 {
  width: 58.33%;
}

.col-lg-5 {
  width: 41.66%;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}



}



/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {








}

